.resumeEditor {
  position: relative; 
  height: 100vh; 
  width: 100vw; 
}

.resumeEditor .navbar {
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 5%; 
  height: 100%; 
 

}

.resumeEditor .userInfoForm {
  position: absolute; 
  top: 0%; 
  left: 5%; 
  width: 45%x; 
  height: 100%; 
  

}

.resumeEditor .resumePreview {
  position: absolute; 
  top: 0; 
  left: 55%; 
  width: 45%; 
  height: 100%; 
  
}
